<footer class="footer-container">
    <div class="footer-section">
        <p class="footer-text">© 2023 GPU Galaxy. Tous droits réservés.
                                                            <br> GPU Galaxy, basée à l'Université de Bourgogne</p>
    </div>
    <div class="footer-section">
        <p class="footer-text">Dirigée par : Mohammed Oualid Azdad, Ilyas Riak, Abdelmajid Khomsi El Hassouni                                   <br>
        Contact : <a href="mailto:GpuGalaxy@gmail.com">GpuGalaxy&#64;gmail.com</a> | Tel : 0766737985</p>
    </div>
</footer>