
<div *ngFor="let commande of commandes" class="suivi-commande-container">
    <h1>Suivi de commande</h1>
    <div class="commande-details">
      <div class="commande-info">
        <h2>Informations de commande</h2>
        <!-- Supprimez ou ajustez ces lignes si nécessaire -->
        <!-- <p><strong>Numéro de commande :</strong> {{ commande.numero }}</p> -->
        <!-- <p><strong>Date de commande :</strong> {{ commande.date | date: 'dd/MM/yyyy HH:mm' }}</p> -->
        <p><strong>Statut de la commande :</strong> {{ commande.statut }}</p>
      </div>
      <div class="livraison-info">
        <h2>Adresse de livraison</h2>
        <p><strong>Nom du destinataire :</strong> {{ commande.informationsLivraison.nomDestinataire }}</p>
        <p><strong>Adresse :</strong> {{ commande.informationsLivraison.adresse }}</p>
        <p><strong>Ville :</strong> {{ commande.informationsLivraison.ville }}</p>
      </div>
    </div>
    <div class="liste-produits">
      <h2>Produits commandés</h2>
      <table>
        <thead>
          <tr>
            <th>Nom du produit</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produit of commande.produits">
            <td>{{ produit.nom }}</td>
            <td>{{ produit.prix | currency }}</td>
            <td>{{ produit.quantite }}</td>
            <td>{{ produit.prix * produit.quantite | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="total">
      <p><strong>Total de la commande :</strong> {{ commande.total | currency }}</p>
    </div>
</div>
