<div class="panier-container">
  <h2>Votre Panier</h2>
  <div *ngIf="panierService.getPanier().length === 0">Votre panier est vide.</div>
  <ul>
    <li *ngFor="let produit of panierService.getPanier()">
      {{ produit.nom }} - {{ produit.prix | currency }} x {{ produit.quantite }}
      <ul>
        <button class="supprimer-btn" (click)="supprimerProduit(produit)">Supprimer</button>
        <button class="modifier-btn" (click)="modifierQuantite(produit)">Modifier</button>
      </ul>
    </li>
  </ul>
  <div class="total">
    Total: {{ panierService.getTotal() | currency }}
  </div>
  <div>Nombre total de produits: {{ panierService.getNombreTotalProduits() }}</div>

  <div *ngIf="panierService.getTotal() === 0; else modal">
    <p class="message-erreur">Le panier est vide. Impossible d'acheter.</p>
  </div>
  <div *ngIf="afficherAdresse">
    <form [formGroup]="formulaireLivraison" class="formulaire-livraison">
    <h3>Informations de Livraison</h3>
  <div class="info-livraison" >
    <div class="champ-livraison">
      <label for="nomDestinataire">Nom du destinataire:</label>
      <input formControlName="nomDestinataire" placeholder="Nom du destinataire">
    </div>
    <div class="champ-livraison">
      <label for="adresse">Adresse:</label>
      <input formControlName="adresse" placeholder="Adresse">
    </div>
    <div class="champ-livraison">
      <label for="ville">Ville:</label>
      <input formControlName="ville" placeholder="Ville">
    </div>
  </div>
  <button class="button-style-livraison"  (click)="afficherPaiement = true" (click)="afficherAdresse=false" >Valider la Livraison</button>
</form></div>
  
  <ng-template #modal>
    <!-- Fenêtre modale d'achat -->
    <button class="acheter-btn" (click)="afficherAdresse = true">Acheter - {{ panierService.getTotal() | currency }}</button>
    <button class="vider-panier-btn" (click)="viderPanier()">Vider le Panier</button>
    <!-- Section de paiement -->
    <div *ngIf="afficherPaiement">
      <form [formGroup]="formulairePaiement" (submit)="validerPaiement()">
        <input type="text" formControlName="nom" placeholder="Nom sur la carte" required (keypress)="onKeyPressLetters($event)">
        <input
          type="text"
          formControlName="numeroCarte"
          placeholder="Numéro de carte (16 chiffres)"
          (input)="onNumeroCarteInput($event)"
        >
        <div
        *ngIf="
          formulairePaiement.get('numeroCarte')?.hasError('pattern') ||
          formulairePaiement.get('numeroCarte')?.hasError('invalidCardNumberLength')
        "
        class="message-erreur"
      >
        Le numéro de carte doit contenir exactement 16 chiffres.
      </div>
        <select formControlName="moisExpiration" required>
          <option value="01">Janvier</option>
          <option value="02">Février</option>
          <option value="03">Mars</option>
          <option value="04">Avril</option>
          <option value="05">Mai</option>
          <option value="06">Juin</option>
          <option value="07">Juillet</option>
          <option value="08">Août</option>
          <option value="09">Septembre</option>
          <option value="10">Octobre</option>
          <option value="11">Novembre</option>
          <option value="12">Décembre</option>
        </select>
        <input type="number" formControlName="anneeExpiration" placeholder="Année d'expiration" min="2023" max="2030" step="1" required>
        <input type="password" formControlName="codeSecurite" placeholder="Code de sécurité" required maxlength="3" (keypress)="onKeyPress($event)">
        <button type="submit" (click)="afficherConfirmation =true">Valider le paiement</button>
      </form>
    </div>
    <!-- Fin de la section de paiement -->
  </ng-template>
</div>
<!-- Affiche le message de confirmation si le paiement est accepté -->
<div *ngIf="afficherConfirmation" class="confirmation-paiement" >
  <h3>Merci pour votre achat !</h3>
  <p *ngFor="let produit of panierService.getPanier()"> Votre produit : 
  {{ produit.nom }}  x {{ produit.quantite }}</p>
  <p *ngFor="let produit of panierService.getPanier()"> Prix Payé: 
    {{ produit.prix | currency }}</p>
  
  <p>Les détails de votre achat ont été envoyés à votre adresse e-mail.</p>
  
</div>

