/* Style général du panier */
.panier-container {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a; /* Arrière-plan sombre comme dans le catalogue */
  color: #f0f0f0; /* Texte clair pour un bon contraste */
  font-family: 'Arial', sans-serif; /* Police moderne */
  animation: fadeIn 1s ease-in; /* Effet d'apparition */
}

/* Titre du panier */
.panier-container h2 {
  color: #0275d8; /* Bleu électrique pour les titres */
  margin-bottom: 20px;
  text-shadow: 0 0 10px #0275d8; /* Ombre portée subtile */
}

/* Liste des articles dans le panier */
.panier-container ul {
  list-style: none;
  padding: 0;
  text-align: left; /* Alignement du texte pour les listes */
  margin: auto;
  max-width: 800px; /* Largeur maximale pour une meilleure lisibilité */
}

/* Style des éléments de la liste */
.panier-container li {
  background-color: #2a2a2a; /* Fond légèrement plus clair pour chaque élément */
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Animation au survol des éléments de la liste */
.panier-container li:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

/* Style des boutons dans le panier */
.panier-container button {
  background-color: #0275d8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px; /* Ajout d'une marge autour des boutons */
}
/* Changement de couleur des boutons au survol */
.panier-container .btn:hover {
  background-color: #ff4081;
}

/* Conteneur pour les informations du produit */
.panier-container .info-produit {
  flex-grow: 1; /* Prend l'espace disponible */

}

/* Style pour le total du panier */
.panier-container .total {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

/* Animation "fade-in" */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Style responsive pour les petits écrans */
@media (max-width: 768px) {
  .panier-container ul {
    max-width: 100%;
  }

  .panier-container .info-produit {
    padding-right: 60px; /* Espace réduit pour les petits écrans */
  }
}
/* Style pour le bouton Acheter */
.panier-container .acheter-btn {
  background-color: #4CAF50; /* Vert pour Acheter */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px; /* Espace entre les boutons et les autres éléments du panier */
}

/* Style pour le bouton Vider le Panier */
.panier-container .vider-panier-btn {
  background-color: #f44336; /* Rouge pour Vider le Panier */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
  margin-left: 10px; /* Petite marge entre les boutons Acheter et Vider le Panier */
}
/* Style pour les éléments du formulaire de paiement */
.panier-container form {
  text-align: left; /* Alignement du texte à gauche */
  background-color: #f0f0f0; /* Arrière-plan gris clair */
  padding: 10px; /* Espacement intérieur réduit */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère */
  margin-top: 20px; /* Espacement supérieur */
  max-width: 400px; /* Largeur maximale réduite */
  margin-left: auto; /* Centrage horizontal */
  margin-right: auto; /* Centrage horizontal */
}


/* Style pour les étiquettes des champs de formulaire */
.panier-container form label {
  display: block; /* Affichage en bloc */
  font-weight: bold; /* Texte en gras */
  margin-bottom: 5px; /* Espacement inférieur */
}

/* Style pour les champs de formulaire */
.panier-container form input,
.panier-container form select {
  width: 100%; /* Largeur à 100% du conteneur */
  padding: 5px; /* Espacement intérieur réduit */
  margin-bottom: 5px; /* Espacement inférieur réduit */
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 5px; /* Coins arrondis */
  font-size: 0.9em; /* Taille de police légèrement plus petite */
}

/* Style pour le message d'erreur du formulaire */
.panier-container form .message-erreur {
  color: #f00; /* Texte rouge en cas d'erreur */
  font-size: 0.9em; /* Taille de police légèrement plus petite */
  margin-top: 5px; /* Espacement supérieur */
}

/* Style pour le bouton de validation du paiement */
.panier-container form button[type="submit"] {
  background-color: #0275d8; /* Fond bleu */
  color: #fff; /* Texte blanc */
  padding: 10px 20px; /* Espacement intérieur */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur au survol */
}

/* Style pour le bouton de vidage du panier */
.panier-container form .vider-panier-btn {
  background-color: #f44336; /* Fond rouge */
  color: #fff; /* Texte blanc */
  padding: 10px 20px; /* Espacement intérieur */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur au survol */
  margin-left: 10px; /* Espacement à gauche */
}
/* confirmation-paiement.component.css */

.confirmation-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0; /* Arrière-plan gris clair */
  color: #333; /* Texte sombre pour un bon contraste */
  font-family: 'Arial', sans-serif; /* Police moderne */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* Largeur maximale pour le contenu */
  margin: 0 auto; /* Centrer le contenu horizontalement */
  margin-top: 20px; /* Espace supérieur */
}

.confirmation-container h2 {
  color: #0275d8; /* Bleu électrique pour les titres */
  margin-bottom: 20px;
}

.details {
  text-align: left;
  margin-top: 20px;
}

.details p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.details span {
  font-weight: bold;
  color: #0275d8; /* Bleu électrique pour les détails importants */
}

.retour-btn {
  background-color: #0275d8; /* Bleu électrique pour le bouton Retour */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.retour-btn:hover {
  background-color: #ff4081; /* Changement de couleur au survol */
}
/* Style pour la page de confirmation de paiement */
.confirmation-paiement {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  animation: fadeIn 1s ease-in;
  margin-top: 20px; /* Espacement par rapport aux autres éléments */
}

.confirmation-paiement h3 {
  color: #000000; /* Couleur verte pour le titre */
  text-shadow: 0 0 10px #4CAF50;
  margin-bottom: 20px;
}

.confirmation-paiement p {
  margin-bottom: 10px;
}

/* Style pour le formulaire de paiement */
.confirmation-paiement form {
  display: none; /* Masque le formulaire de paiement par défaut */
}

/* Animation "fade-in" */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* Style pour le formulaire de livraison */
.formulaire-livraison {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a; /* Fond noir */
  color: #000000; /* Couleur du texte */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 100%;
  max-width: 600px;
}

/* Style pour les titres dans le formulaire de livraison */
.formulaire-livraison h2 {
  color: #0275d8;
  margin-bottom: 20px;
}

/* Style pour les groupes de formulaires dans le formulaire de livraison */
.form-group-livraison {
  margin-bottom: 15px;
}

/* Style pour les labels des formulaires dans le formulaire de livraison */
.form-group-livraison label {
  display: block;
  margin-bottom: 5px;
  color: #000000; /* Couleur du texte pour les labels */
}

/* Style pour les champs de saisie des formulaires dans le formulaire de livraison */
.form-group-livraison input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #0275d8;
  background-color: #333;
  color: #000000;
}

/* Style pour les champs de saisie lorsqu'ils sont focalisés dans le formulaire de livraison */
.form-group-livraison input:focus {
  outline: none;
  border-color: #ff4081;
  box-shadow: 0 0 5px #ff4081;
}

/* Style pour les boutons dans le formulaire de livraison */
.button-style-livraison {
  background-color: #0275d8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px; /* Espace supérieur */
}

/* Style pour les boutons lorsqu'ils sont survolés dans le formulaire de livraison */
.button-style-livraison:hover {
  background-color: #ff4081;
}

/* Style global pour le formulaire de livraison */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}
