
.accueil-container {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a; 
  color: #f0f0f0; 
  font-family: 'Arial', sans-serif; 
}

.bienvenue-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #0275d8; 
}

.bienvenue-text {
  width: 60%;
  color: white;
}

.bienvenue-image {
  width: 40%;
}

.bienvenue-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


.bienvenue-section h2, .bienvenue-section p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.accueil-container h1, .accueil-container h2 {
  color: #0275d8; /* Bleu électrique pour les titres */
  margin-bottom: 20px;
}


.accueil-container h1:hover, .accueil-container h2:hover {
  color: #ff4081; /* Changement de couleur au survol */
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.definition-carte-graphique, .presentation-site, .nouveautes-cartes-graphiques {
  margin-bottom: 40px;
}

.produits-vedettes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.produit-vedette {
  margin: 20px;
  text-align: left;
}

.produit-vedette img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}


.produit-vedette:hover {
  transform: scale(1.05); 
  box-shadow: 0px 0px 15px 5px #0275d8; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.definition-carte-graphique, .presentation-site, .nouveautes-cartes-graphiques, .comparaison-cartes-graphiques {
  animation: fadeIn 2s ease-in;
}


.button-style {
  background-color: #0275d8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-style:hover {
  background-color: #ff4081; 
}


input[type="text"], select, textarea {
  background-color: #333;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  border-radius: 4px;
}

input[type="text"]:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #0275d8; 
}


.comparaison-cartes-graphiques, .comparaison-container {
  margin-bottom: 40px;
}

.comparaison-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.carte-graphique {
  width: 45%; 
  border: 1px solid #0275d8; 
  padding: 20px;
  margin: 10px;
  border-radius: 10px; 
}

.carte-graphique img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}


