<div class="accueil-container">

  <div class="definition-section">
      <div class="texte-definition">
          <h1>Bienvenue sur GPUGalaxy</h1>
          <p>
            Votre Destination pour les Cartes Graphiques. Découvrez notre large gamme de cartes graphiques 
            pour tous vos besoins, que ce soit pour le gaming, le développement professionnel ou le multimédia.
          </p>
      </div>

  </div>


  <section class="nouveautes-cartes-graphiques">
    <h2>Nouveautés</h2>
    <div class="produits-vedettes">

      <div class="produit-vedette">
        <img src=" ../../../../../assets/images/rtx.png" alt="RTX 4090">
        <h3>RTX 4090</h3>
        <p>À l'heure actuelle, la carte graphique RTX 4090 de NVIDIA n'a pas été officiellement annoncée. Les détails spécifiques de ses caractéristiques et performances ne sont donc pas disponibles. Cependant, en suivant les tendances des générations précédentes, on pourrait s'attendre à une évolution significative en termes d'architecture GPU, de performances, de technologies de rendu graphique telles que le ray tracing en temps réel, et une amélioration de la mémoire vidéo. Les cartes graphiques de la série RTX sont généralement équipées de fonctionnalités avancées pour répondre aux exigences croissantes des applications de jeux et de création de contenu. Pour obtenir des informations précises, il est recommandé de suivre les annonces officielles de NVIDIA.</p>
      </div>
   
    </div>
  </section>


<section class="comparaison-cartes-graphiques">
  <h2>Comparaison des Cartes Graphiques</h2>
  <div class="comparaison-container">
     
      <div class="carte-graphique">
          <img src=" ../../../../../assets/images/rtx4080ti.png" alt="NVIDIA GeForce RTX 4080 Ti">
          <h3>NVIDIA GeForce RTX 4080 Ti</h3>
          <p>Prix: € 703.1</p>
          <p>Fonctionnalités:</p>
          <p>Mémoire    20 GB</p>
          <p>Rendement 1440p moyen    254.3 FPS</p>
          <p>Rendement moyen de 4K    161.2 FPS</p>
          <p>Alimentation recommandée    800W</p>
          <p>Année    2023</p>  
     
      </div>

 
      <div class="carte-graphique">
          <img src="../../../../../assets/images/amd.png" alt="AMD Radeon RX 7900 XTX">
          <h3>AMD Radeon RX 7900 XTX</h3>
          <p>Prix: € 879.1</p>
          <p>Fonctionnalités:</p>
          <p>Mémoire    24 GB</p>
          <p> Rendement moyen de 4K   139.3 FPS</p>
          <p>Rendement moyen de 4K    161.2 FPS</p>
          <p>Alimentation recommandée    750W
          <p>Année    2022</p>
 
      </div>
  </div>
</section>

</div>
